@media (min-width:768px) {

    .page{
        &__header {
            margin-top: 23px;
            margin-bottom: 18px;
        }
        &__about-platform {
            margin-bottom: 74px;
        }
        &__download {
            margin-bottom: 178px;
        }
        &__mission {
            margin-bottom: 283px;
        }
        &__conection {
            margin-bottom: 246px;
        }
        &__scanner {
            margin-bottom: 293px;
        }
        &__generate-qr-code {
            margin-bottom: 192px;
        }
    }

    .page-header {
        font-size: 51px;
        line-height: 62px;
    }

    .page-text {
        font-size: 18px;
    }

    .container {
      width: 768px;
      padding: 0 85px;
      max-width: unset;
    }

    .header {
        justify-content: start;
        &__login {
            padding-left: 40px;
            background-image: url('../img/human-ikon.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
        }

        &__logo {
            margin-right: 108px;
        }
    }

    .about-platform {
        overflow: unset;

        &__header {
            font-size: 64px;
            margin-bottom: 129px;
        }

        &__text {
            font-size: 20px;
            position: relative;
            padding-left: 131px;
            max-width: 380px;

            &::before {
                content: '';
                display: block;
                width: 140px;
                height: 4px;
                transform: rotate(-60deg);
                background-color: white;
                position: absolute;
                left: -30px;
                top: 0px;
                box-shadow: 0px 0px 70px 10px rgba(96, 92, 234, 0.5);
            }
        }

        &__wrapper {
            margin-top: 125px;
            margin-right: 180px;
            min-width: 590px;
        }
    }

    .phone {
        margin: 0;
    }

    .download {
        display: flex;
        justify-content: start;
        align-items: center;

        &__wrapper {
            display: flex;
        }

        &__header {
            margin-bottom: 0;
            margin-right: 40px;
            font-size: 35px;
        }

        &__button {
            margin: 0;
            &:last-child {
                margin: 0;
                margin-left: 28px;
            }
        }
    }

    .connection {
        display: flex;
        justify-content: space-around;
        &__block:first-child {
            margin-right: 20px;
        }
        &__block {
            margin: 0;
            width: 503px;
            height: 312px;
            box-sizing: border-box;
            padding: 0px 0px 0px 55px;

            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;

            & p {
                font-size: 30px;
            }
        }
        &__link {
            font-size: 24px;
        }
    }

    .mission {
        display: flex;
        justify-content: space-between;

        &__content {
            order: 1;
        }

        &__phone {
            order: 0;
            margin-right: 50px;
        }
    }

    .verification {

        &__step--1 img, step--2 img {
            margin: 0;
        }

        &__step--1 img {
            margin-right: 25px;
        }
    }

    .verification-order {
        background-position: top center;
    }

    .notab {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form {
        & br {
            display: block;
        }
    }

    .cookies {
        &__wrapper {
            max-width: 768px;
            padding: 0 85px;
        } 

        &__text {
            font-size: 14px;
            line-height: 19px;
            & br {
                display: none;
            }
        }
    }
}

@media (min-width:1200px) {

    .container {
        width: 1200px;
    }

    .download {
        &__header {
            margin-right: 388px;
        }
    }

    .qr {
        display: flex;
        max-width: 1440px;
        margin: 0 auto;

        &__wrapper {
            background: linear-gradient(to bottom, black 10%, transparent 100%),
                        linear-gradient(to top, black 5%, transparent 100%),
                        top right no-repeat url('./../img/qr-background-desktop.png');
            width: 50%;
        }

        & h2 {
            padding-top: 537px;
        }

        &__text {
            max-width: 315px;
        }
    }

    .verification {
        order: 0;
        display: flex;
        margin-right: 128px;
        flex-grow: 1;

        &__step--1 {
            margin-right: 50px;
        }
    }

    .verification-order {
        width: 50%;
        background: url('../img/Nightlife.svg') left 600px top 0px no-repeat,
                    url('../img/bcg-big.png') top right no-repeat;
        background-size: 138px auto, auto auto;
        margin-right: 0;
        margin-left: -100px;
        padding-top: 225px;
        & .verification__step--2 {
            padding-top: 341px;
        }

        & .verification__step--1 {
            margin-right: 80px;
        }
    }

    .features {
        background-image: url('../img/adv-background-desktop.png');
        width: 868px;
        min-height: 1040px;
        font-size: 22px;
    }

    .feature {

        &--1 {
            left: -24px;
            top: 359px;
        }
    
        &--2 {
            left: 475px;
            top: 204px;
        }
    
        &--3 {
            left: 198px;
            top: 730px;
        }
    
        &--4 {
            left: 695px;
            bottom: 308px;
        }
    }

    .form {
        width: 818px;
        margin: 0 auto;
    }

    .page-form {
        & input {
            font-size: 18px;
        }
        & textarea {
            margin-bottom: 60px;
        }

        & button {
            width: 398px;
            height: 80px;
            font-size: 24px;
            margin: 0 auto;
        }
    }

    .page-form--half-venue {
            margin-right: 12px;
    }

    .page-form .page-form--half-venue,  .page-form .page-form--half-state {
        width: 49%;
    }

    .service-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 85px;

        &--first {
            margin: 0;
            order: 1;
        }

        &--second {
            order: 0;
            text-align: left;
            font-size: 18px;
        }
    }

    .page-footer {
        &__link {
            font-size: 18px;
        }
    }

    .footer {
        &__download {
            margin-bottom: 150px;
            display: flex;
            flex-direction: column;

            & h2 {
                margin: 0 0 32px 0;
                font-size: 24px;
            }

            & .app-store img {
                width: 258px;
            }

            & .google-play img {
                width: 292px;
            }
        }
    }

}

@media (min-width:1440px) {

    .container {
        width: 1440px;
    }

    .page {
        &__advantage {
            margin-bottom: 0;
        }
    }

    .mission {
        &__phone {
            margin-left: -350px;
            margin-right: 167px;
        }
    }

    .scanner {
        background-image: url('../img/background-scanner-big.png');
        &__content {
            display: flex;
        }

        &__text-content {
            order: 1;
            padding-top: 390px;
        }
    }

    .background-block {
        padding-top: 467px;
    }

    .tool {
        display: flex;
        &__wrapper {
            max-width: 500px;
            min-height: 645px;
        }
    }

    .statistics {
        width: 100%;
        height: auto;

        &__groupe--1 {
            top: 95px;
            right: 115px;
        }

        & .charts {
            width: 281px;
            bottom: 217px;
            right: 30px;
        }

        & .circle {
            width: 233px;
            top: 95px;
            right: 367px;
        }

        & .graf-1 {
            width: 193px;
            position: relative;
            left: 22px;
            top: 15px;
        }

        & .graf-2 {
            width: 193px;
            right: 355px;
        }

        & .graf-3 {
            width: 252px;
            top: -90px;
            right: 168px;
        }

        & .graf-4 {
            width: 183px;
        }

        & .graf-5 {
            display: block;
            top: 160px;
            left: 25px;

        }
    }

    .generate-qr-code {

        display: flex;
        flex-direction: column;

        &__text, h2 {
            margin: 0;
        }

        &__container {
            order: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__picture-wrapper {
            background-size: 717px 164px, 717px 164px;
            background-position-y: 20%, 75%;
            margin-bottom: 79px;
            order: 0;

            & img {
                border-radius: 50px;
            }
        }
    }

    .arrow {
        font-size: 21px;
        top: 161px;
        left: 350px;
        &::before {
            bottom: -9px;
            transform: rotate(-40deg);
            left: -105px;
        }
    }

    .advantage {
        &__wrapper {
            width: 421px;
            margin-left: auto;
        }
    }

    .cookies {
        &__wrapper {
            max-width: 1440;
            padding: 0 85px;
        } 
    }
}